# We'll use defaults from the LLVM style.
BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 80
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Right
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AllowShortCaseLabelsOnASingleLine: true
AllowShortCaseExpressionOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
SpacesBeforeTrailingComments: 2
IndentCaseLabels: true
